@model Actor

  <img src="~/images/cast/@Model.ProfilePicture" alt="Actor Image" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">  
 <h4> @Model.FirstName @Model.LastName </h4>
<p>Bio: @Model.Bio</p>
<a href="">Social Media</a> 

